<!-- Gallery -------------------------------------------------------------------->
<div>
  <div class='container px-5 py-2'>
    <div class='row'>

      {{! ---------------------------------------------------------------------------- }}
      {{! ----------------------------- Column 1 ------------------------------------- }}

      <div class='col-lg-4 col-md-12 mb-4 mb-lg-0'>

        {{#each gallery_1}}
          <div>
            <img src='/img/gallery/{{image_name}}' class='w-100 shadow-1-strong rounded mb-4 item-image' alt='Robot Toy' />
          </div>

          <div class='modal fade' id='item-1-modal' tabindex='-1' role='dialog' aria-hidden='true'>
            <div class='modal-dialog modal-dialog-centered'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <h5 class='modal-title text-dark'>Item Title</h5>
                  <button type='button' class='btn-close' aria-label='Close'></button>
                </div>
                <div class='modal-body text-dark'>Item Description</div>
                <div class='modal-footer'>
                  <button type='button' name='' class='btn btn-secondary btn-modal msg-seller'>Message Seller</button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

      {{! ---------------------------------------------------------------------------- }}
      {{! ----------------------------- Column 2 ------------------------------------- }}

      <div class='col-lg-4 mb-4 mb-lg-0'>
        {{#each gallery_2}}
          <div>
            <img src='/img/gallery/{{image_name}}' class='w-100 shadow-1-strong rounded mb-4 item-image' alt='Robot Toy' />
          </div>

          <div class='modal fade' id='item-4-modal' tabindex='-1' role='dialog' aria-hidden='true'>
            <div class='modal-dialog modal-dialog-centered'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <h5 class='modal-title text-dark'>Item Title</h5>
                  <button type='button' class='btn-close' aria-label='Close'></button>
                </div>
                <div class='modal-body text-dark'>Item Description</div>
                <div class='modal-footer'>
                  <button type='button' name='' class='btn btn-secondary btn-modal msg-seller'>Message Seller</button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

      {{! ---------------------------------------------------------------------------- }}
      {{! ----------------------------- Column 3 ------------------------------------- }}

      <div class='col-lg-4 mb-4 mb-lg-0'>
        {{#each gallery_3}}

          <div>
            <img src='/img/gallery/{{image_name}}' class='w-100 shadow-1-strong rounded mb-4 item-image' alt='Robot Toy' />
          </div>

          <div class='modal fade' id='item-4-modal' tabindex='-1' role='dialog' aria-hidden='true'>
            <div class='modal-dialog modal-dialog-centered'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <h5 class='modal-title text-dark'>Item Title</h5>
                  <button type='button' class='btn-close' aria-label='Close'></button>
                </div>
                <div class='modal-body text-dark'>Item Description</div>
                <div class='modal-footer'>
                  <button type='button' name='' class='btn btn-secondary btn-modal msg-seller'>Message Seller</button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

      {{! ---------------------------------------------------------------------------- }}
    </div>
  </div>
</div>