<div class='d-flex flex-wrap align-items-center justify-content-between justify-content-lg-center border-bottom border-dark mt-3'>
  <ul class='nav col-12 col-lg-auto my-2 justify-content-center my-md-0'>
    <li>
      <a href='#' class='nav-link text-secondary pb-0'> <i class='bx bxs-paint bx-md bi d-block mx-auto'></i>Art & Collectibles</a>
    </li>
    <li>
      <a href='#' class='nav-link text-secondary pb-0'> <i class='bx bxs-t-shirt bx-md bi d-block mx-auto'></i>Clothing & Shoes</a>
    </li>
    <li>
      <a href='#' class='nav-link text-secondary pb-0'> <i class='bx bxs-institution bx-md bi d-block mx-auto'></i>Home & Living</a>
    </li>
    <li>
      <a href='#' class='nav-link text-secondary pb-0'> <i class='bx bx-loader-circle bx-md bi d-block mx-auto'></i>Jewelry & Accessories</a>
    </li>
    <li>
      <a href='#' class='nav-link text-secondary pb-0'> <i class='bx bxs-guitar-amp bx-md bi d-block mx-auto'></i>Toys & Entertainment</a>
    </li>
  </ul>
</div>