    <header class="sidebar close">
      <div>
        <div class="logo-details">
          <i class="bx bx-world"></i>
          <span class="logo_name">Tradeopedia</span>
        </div>
      </div>
      <nav>
        <ul class="nav-links">
          <!-- EXPLORE ------------------------------------------------------>
          <li>
            <a href="/dashboard">
              <i class="bx bx-home-smile bx-md"></i>
              <span class="link_name">Explore</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Explore</a></li>
            </ul>
          </li>
          <!-- PRODUCTS ------------------------------------------------------>

          <li>
            <a href="/dashboard/products/">
              <i class="bx bx-briefcase bx-md"></i>
              <span class="link_name">Products</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Products</a></li>
            </ul>
          </li>

          <!-- CREATE ------------------------------------------------------>
          <li>
            <a href="/dashboard/create/">
              <i class="bx bx-barcode-reader bx-md"></i>
              <span class="link_name">Create</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Create</a></li>
            </ul>
          </li>

          <!-- Messages ------------------------------------------------------>
          <li>
            <a href="/dashboard/messages/">
              <i class="bx bx-message bx-md"></i>
              <span class="link_name">Messages</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Messages</a></li>
            </ul>
          </li>




          <!-- PROFILE ------------------------------------------------------>
          <li>
            <div class="profile-details">
              <div class="profile-content">
                <img src="/img/profile_img/Avatar-Mehdi-200x200.jpg" alt="profileImg" />
              </div>
              <div class="name-welcome">
                <div class="profile_name">{{user.first_name}}</div>
                <div class="welcome-msg">Welcome back!</div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </header>