<div class="footer background-app text-center">
    <div class="row content-justify">
        <div class="col-lg-1 "></div>
        <div class="col-lg-3 ">
            <br>
            <p>About TRADEOPEDIA</p>
            <p>Company Info</p>
            <p>Investors</p>
            <p>Careers</p>
        </div>
        <div class="col-lg-1 "></div>
        <div class="col-lg-3">
            <br>
            <p>Stay Connected</p>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
        <div class="col-lg-1 "></div>
        <div class="col-lg-3 ">
            <br>
            <p>Help & Contact</p>
            <p>Policies</p>
            <p>FAQ's</p>

        </div>
    </div>
</div>