<div class="container-fluid background-app ">
        <div class="row">
            <div class="col-lg-9">
                <h1>Tradeopedia</h1>
            </div>
            
            <div class="col-lg-3" style="padding-top: 10px;">
                <a  id="basket-btn" style="float: left;background: transparent;">  Basket</a>
                <a href="" id="login-btn"  style="float: right;background: transparent;"> Login</a>
            </div>
        </div></div>
    <nav class="navbar navbar-expand-md  background-app ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon " style="color: white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="#antiques" href="">Antiques </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="#apparel" href="">Apparel </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="#jewleryAndAccessories" href="">Jewlery & Accessories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="#homeAndLiving" href="">Home & Living</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="#toysAndCrafts" href="">Toys & Crafts</a>
            </li>    
            <li class="nav-item">
              <a class="nav-link" id="artAndMusic" href="">Art & Music </a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" id="others" href="">Others </a>
            </li>  
          </ul>
          
        </div>  
      </nav>
      <link rel="stylesheet" href="style.css" />