/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --main-background: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
  font-family: 'Righteous', cursive;
}
